body, html {
    height: 100%;
    width: 100;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

header {
    box-shadow: 0px 0px 121px -22px black;
}

header .link-container {
    display: flex;
    justify-content: flex-end;
}

header ul {
    margin: 0;
    padding: 0;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

header ul a li {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}

.container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.separator hr {
    background-color: black;
    width: 45%;
    margin: 0;
}

.separator span {
    margin: 0 5%;
}

.container form.form {
    margin-top: 30px;
}

.container form.form .input {
    margin-bottom: 30px;
}

.container form.form input.btn {
    margin-bottom: 0;
}

.container .bottom {
    margin-bottom: 60px;
}

textarea {
    resize: none;
    height: 300px!important;
}

.container.topics {
    /*min-height: 530px;*/
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container.topics .card-body {
    display: flex;
    flex-direction: column;
}

.topic-detail .card {
    text-align: left;
}

.title-topic {
    font-weight: 600;
}

.topic-infos-container {
    display: flex;
}

.topic-infos-container h2 {
    font-size: 15px;
    font-weight: 500;
}

.topic-detail .card .card-body p {
    font-weight: 300;
}

.topic-detail .card .card-body img {
    max-width: 100%;
}

.topic-detail .card .card-body img .comment-picture {
    width: 50%;
}

.topic-detail .hidden {
    display: none;
}

.emoji-bar {
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.emoji {
    transition: 300ms;
    font-size: 27px;
    /*padding: 0 5px;*/
}

.emoji:hover {
    cursor: pointer;
    font-size: 49px;
}

footer {
    color: white;
    padding: 30px 20px;
    display: flex;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(to top, #007bff 100%, white);
}

footer a {
    color: white;
}

footer .left, footer .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer .right iframe {
    max-width: 100%;
}