body, html {
    height: 100%;
    width: 100;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

header {
    box-shadow: 0px 0px 121px -22px black;
}

header .link-container {
    display: flex;
    justify-content: flex-end;
}

header ul {
    margin: 0;
    padding: 0;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

header ul a li {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}

.container {
    text-align: center;
    margin-top: 60px;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.separator hr {
    background-color: black;
    width: 45%;
    margin: 0;
}

.separator span {
    margin: 0 5%;
}

.container form.form {
    margin-top: 30px;
}

.container form.form .input {
    margin-bottom: 30px;
}

.container form.form input.btn {
    margin-bottom: 0;
}

.container .bottom {
    margin-bottom: 60px;
}

form.form-topic textarea {
    resize: none;
    height: 300px;
}

.container.topics {
    min-height: 530px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container.topics .card-body {
    display: flex;
    flex-direction: column;
}

.container.topics .card-body .title {
    font-weight: 600;
}